.dashbord-sidebar {
  width: 257px;
  height: 100vh;
  position: relative;
  z-index: 9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.creat-game-button-block {
  display: flex;
  justify-content: center;
  margin: 22px 0 0 0;
}
.creat-game-button {
  width: 200px;
  height: 44px;
  background: #0a63ea;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
  border: 0;
}
.dashbord-sidebar-small .creat-game-button {
  width: 40px;
  height: 40px;
}
.dashbord-sidebar-small .creat-game-button span {
  display: none;
}
.dashbord-sidebar-social {
  display: flex;
  justify-content: center;
  margin: 26px 0;
}
.dashbord-sidebar-social .nav-icon {
  margin: 0 8px;
}
.dashboard-content {
  padding-top: 96px;
  overflow-x: hidden;
  overflow-y: auto;
  flex: 1;
}
.dashbord-sidebar-small {
  width: 80px;
  overflow: hidden;
}
.dashbord-sidebar-small .sidebar-item-title {
  display: none;
}
.dashbord-sidebar-small .dashbord-sidebar-item {
  padding-left: 0;
  display: flex;
  justify-content: center;
}
.dashbord-sidebar .dashbord-sidebar-body {
  width: 257px;
  height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 152px;
  position: fixed;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  background: #000;
  border-right: 1px solid #2a2a2a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.dashbord-sidebar-small .dashbord-sidebar-body {
  width: 80px;
  overflow: hidden;
}
.dashbord-sidebar-body .dashbord-sidebar-title {
  margin-bottom: 16px;
  padding-left: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashbord-sidebar-small .dashbord-sidebar-title {
  display: none !important;
}
.dashbord-sidebar-body .dashbord-sidebar-title h3 {
  color: #808191 !important;
  font-size: 12px;
  margin: 0;
}
.dashbord-sidebar-item {
  padding-left: 22px;
  padding-top: 18px;
  padding-bottom: 18px;
  transition: 100ms;
  border-radius: 10px;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 2px;
  cursor: pointer;
  opacity: 0.5;
}
.dashbord-sidebar-item a {
  display: flex;
  align-items: center;
}
.dashbord-sidebar-item a:hover {
  text-decoration: none;
}
.sidebar-item {
  width: 24px;
  height: 24px;
}
.dashbord-sidebar-item:hover {
  background: linear-gradient(
    89.96deg,
    #323438 -6.09%,
    rgba(24, 26, 30, 0) 99.95%
  );
  opacity: 1;
}
.sidebar-item-icon-box img {
  width: 20px;
  height: 20px;
}
.dashbord-sidebar-item-active {
  background: linear-gradient(
    89.96deg,
    #323438 -6.09%,
    rgba(24, 26, 30, 0) 99.95%
  );
  opacity: 1;
}
.dashbord-sidebar-item .sidebar-item-title {
  font-size: 14px;
  font-family: Larsseit-Medium;
  color: rgba(255, 255, 255) !important;
  margin-left: 18px;
  white-space: nowrap;
}
.dashbord-sidebar-small {
  width: 80px;
  overflow: hidden;
}
.dashboard-content {
  flex: 1;
}
/* dashboard navigation */
.dashboard-nav-list li {
  margin-left: 6px;
}
.dashboard-nav-list .menu-btn {
  width: 40px;
  height: 40px;
  background: #111214;
  border: 1px solid #1f2021;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notification-number {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 16px;
  height: 16px;
  background: #df1b1b;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 10px;
  color: #ffffff;
}
.notification-dropdown-btn {
  position: relative;
}
.dashboard-table-card {
  width: 100%;
}
.notification-dropdown {
  position: absolute;
  right: 76px;
  top: 55px;
  width: 400px;
  max-height: 400px;
  display: none;
  border: 1px solid #2a2a2a;
  border-radius: 28px;
  background-color: black;
}
.notification-block {
  position: relative;
  overflow-y: auto;
  max-height: 300px;
  margin: 12px 12px;
}
.notification-content {
  margin: 0 6px 12px 12px;
  width: calc(100% - 18px);
  border-bottom: 1px solid #2a2a2a;
  display: flex;
  align-items: center;
  padding-bottom: 6px;
}
.notification-content:last-child {
  border-bottom: 0 !important;
  padding-bottom: 6px;
}
.notification-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
}
.notification-content span {
  font-size: 18px;
  color: white;
  text-align: left;
}
.notification-content p {
  font-size: 16px;
  color: rgb(160, 160, 160);
  text-align: left;
}
.notification-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 12px;
  overflow: hidden;
}
.notification-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mark-read {
  text-align: right;
  display: block;
  width: calc(100% - 16px);
  margin-right: 16px;
  font-size: 12px;
  color: white;
}
.mark-read:hover {
  text-decoration: none;
  color: white;
}
.account-block {
  background: #111214;
  border: 1px solid #1f2021;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  height: 40px;
  box-sizing: border-box;
}
.account-block span {
  font-size: 15px;
  color: #ffffff;
  margin-right: 7px;
  font-weight: 700;
  display: block;
}
.account-block img {
  width: 20px;
  height: 20px;
}
/* dashboard content */
.dashboard-card {
  border-radius: 16px;
  border: 1px solid #2a2a2a;
  height: 150px;
  position: relative;
  padding: 32px 26px;
  overflow: hidden;
}
.dashboard-card-text {
  position: relative;
  z-index: 2;
}
.dashboard-card h5 {
  color: #979797;
  letter-spacing: 0.08em;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
.dashboard-card .dashboard-card-number {
  font-weight: 700;
  font-size: 48px;
  color: #ffffff;
}
.dashboard-card-image {
  position: absolute;
  top: 0;
  right: -1px;
  bottom: 0;
  height: 100%;
  z-index: 1;
}
/* Player Card */
.player-card {
  position: relative;
  z-index: 0;
  margin: 20px auto;
  padding: 28px;
  width: 600px;
  border: 1px solid #2a2a2a;
  border-radius: 28px;
  display: flex;
  align-items: center;
}
.payer-avatar-block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.payer-avatar-image {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 160px;
  height: 160px;
}
.payer-avatar-block img {
  width: 100%;
  object-fit: cover;
}
.avatar-edit-button {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 0;
  right: 0;
  background-color: #1f1f1f;
  z-index: 10;
  border: 0;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar-edit-button img {
  width: 20px;
  height: 20px;
}
.player-avatar {
  display: flex;
  justify-content: center;
}
.player-content {
  flex: 1;
  margin-left: 30px;
}
.player-info {
  margin-bottom: 12px;
  position: relative;
  display: flex;
}
.player-content .player-info h4 {
  color: white;
  font-size: 20px;
}
.player-point-row {
  display: flex;
}
.wallet-copy {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(39, 39, 39);
  cursor: pointer;
  margin: 0 8px;
  border: 0;
  padding: 0;
}
.wallet-copy img {
  width: 18px;
  height: 18px;
}
.player-point-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.player-point-block:last-child {
  margin-right: 0px;
}
.point-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d1d1d;
  margin-bottom: -5px;
  z-index: 1;
}
.point-icon img {
  width: 20px;
  height: 20px;
}
.point-text {
  width: 88px;
  height: 54px;
  border: 1px solid #2a2a2a;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7px;
}
.point-text h5 {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.5);
}
.point-text span {
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
}
.change-content-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #2a2a2a;
  padding: 3px;
  border-radius: 24px;
  margin: auto;
  margin-bottom: -22px;
  background-color: #000;
  position: relative;
  z-index: 1;
}
.change-content-btn .btn-change {
  padding: 7px 14px;
  display: flex;
  align-items: center;
  border-radius: 24px;
  cursor: pointer;
  transition: 0.2s ease-in;
  opacity: 0.5;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 19px;
  background-color: #000;
  outline: none;
  border: 0 !important;
}
.active .btn-change {
  background-color: #1f1f1f !important;
  opacity: 1 !important;
}
.button_active {
  background-color: #1f1f1f !important;
  opacity: 1 !important;
}
.map-input-block input {
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #ffffff;
  background-color: #111214 !important;
  border-radius: 4px;
}
.map-input-hidden {
  display: flex;
}
.map-input-hidden input {
  border: 1px solid rgba(255, 255, 255, 0.1);
  color: #ffffff;
  background-color: #111214 !important;
  border-radius: 4px;
  flex: 1;
}
.map-input-hidden span {
  color: white;
}
.change-content-btn .btn-change:hover {
  opacity: 1;
  text-decoration: none;
}
.map-input-block span {
  color: white;
}
.map-input-block .error {
  margin-bottom: 0;
  margin-top: 5px;
}
.create-game {
  width: 100px;
  height: 25px;
  background: #0a63ea;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #ffffff;
  font-weight: 600;
  cursor: pointer;
  border: 0;
}
.nft-image-cont {
  display: flex !important;
  flex-wrap: wrap;
}
.nft-image-row {
  width: 50%;
  border-radius: 28px;
}
.nft-image-block {
  padding: 22px;
}
.nft-image-block h4 {
  color: white;
  font-size: 18px;
  margin: 18px 0;
}
.nft-image-block img {
  width: 100%;
  border-radius: 28px;
}
.section-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.slider-box {
  height: 600px;
  background-color: #0a63ea;
  border: 2px solid gold;
  width: 33%;
}
/* Slider */

.dashboard-slider {
  position: relative;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 22px 0 0 0;
}

.swiper {
  width: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  position: relative;
  background: #fff;
  height: 600px;
  border-radius: 12px;
  overflow: hidden;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-wrapper {
  height: auto !important;
}
.slider-content {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(255, 255, 255, 0) 50%,
    rgba(0, 0, 0, 0.7) 100%
  );
}
.slider-content:hover {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(255, 255, 255, 0) 50%,
    rgba(0, 0, 0, 0.7) 100%
  );
}
.slider-buttons {
  display: flex;
}
.slider-button-cancel {
  height: 43px;
  width: 100px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid #0a63ea;
  color: #0a63ea !important;
  margin-right: 12px;
  cursor: pointer;
}
.slider-text {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.slider-text span {
  color: rgb(255, 255, 255);
  font-size: 18px;
}
.slider-text h4 {
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin-bottom: 8px;
}
.slider-button-delegate {
  height: 43px;
  border-radius: 8px;
  background-color: #0a63ea;
  border: 1px solid #0a63ea;
  color: white;
  cursor: pointer;
  padding: 0 10px;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  color: white;
  font-size: 20px;
}
.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #0a63ea;
}
.table-modal .modal-header {
  border-bottom: 0;
}
/* media 992 */
@media (max-width: 1300px) {
  .swiper-slide {
    height: 500px;
  }
}
@media (max-width: 992px) {
  .dashboard-content {
    margin-left: 80px;
  }
  .dashbord-sidebar {
    width: 80px;
    overflow: hidden;
    position: absolute;
  }
  .dashbord-sidebar .dashbord-sidebar-title {
    display: none;
  }
  .dashbord-sidebar .dashbord-sidebar-body {
    width: 80px;
    overflow: hidden;
  }
  .dashbord-sidebar .sidebar-item-title {
    display: none;
  }
  .dashbord-sidebar-small .sidebar-item-title {
    display: block;
  }
  .dashbord-sidebar .dashbord-sidebar-item {
    padding-left: 0;
    display: flex;
    justify-content: center;
  }
  .dashbord-sidebar-small .dashbord-sidebar-item {
    padding-left: 22px;
    display: flex;
    justify-content: flex-start;
  }
  .dashbord-sidebar-small {
    width: 257px;
    height: 100vh;
    position: absolute;
    z-index: 9;
  }
  .dashbord-sidebar .creat-game-button {
    width: 40px;
    height: 40px;
  }
  .dashbord-sidebar .creat-game-button span {
    display: none;
  }
  .dashbord-sidebar-small .creat-game-button {
    width: 200px;
    height: 44px;
  }
  .dashbord-sidebar-small .creat-game-button span {
    display: block;
  }
  .dashbord-sidebar-small .dashbord-sidebar-body {
    width: 257px;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 152px;
    position: fixed;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    background: #000;
    border-right: 1px solid #2a2a2a;
  }
  .dashbord-sidebar-body-small .dashbord-sidebar-title {
    margin-bottom: 16px;
    padding-left: 22px;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
  }
  .dashbord-sidebar-small .sidebar-item-title {
    font-size: 14px;
    font-family: Larsseit-Medium;
    color: rgba(255, 255, 255, 0.5) !important;
    margin-left: 18px;
    white-space: nowrap;
  }
}
@media (max-width: 750px) {
  .player-card {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .payer-avatar-block {
    margin-bottom: 16px;
  }

  .player-info {
    display: flex;
    justify-content: center;
  }
  .player-content {
    margin: 0;
  }
  .nft-image-row {
    width: 100%;
  }
  .swiper {
    height: 350px;
  }
  .swiper-slide {
    height: 350px;
  }
}
/* media 576 */
@media (max-width: 576px) {
  .dashbord-sidebar {
    display: none;
  }
  .sidebar-btn-list {
    display: none;
  }
  .dashboard-content {
    margin-left: 0;
  }
  .dropdown-btn-list {
    display: block;
  }
  .dashboard-dropdown-navigation {
    display: none;
  }
  .player-point-block {
    margin-right: 10px;
  }
  .notification-dropdown {
    width: 100%;
    top: 94px;
    right: 0;
    border: 0;
    border-bottom: 1px solid #2a2a2a;
    border-radius: 0;
  }
}
#confirmation-modal {
  pointer-events: none;
}
